In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 

df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [8]:
input = df.drop('salary_more_then_100k',axis='columns')
target = df['salary_more_then_100k']

In [9]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder
le_job = LabelEncoder
le_degree = LabelEncoder

In [ ]:
input['company_n'] = le_company.fit_transform(input['company'])